{% extends 'layout/layoutPage.html.twig' %}

{% block title %}{{ parent() }} Formulaire d'ajout d'administrateur {% endblock %}


{% block menu %}

    {% set url = path('super_admin_accueil',{'id' : id}) %}
    <ul>
        <li><a href="{{ url }}"> Retour à l'accueil </a></li>
    </ul>

{% endblock %}

{% block vue %}

    {{ form_start(userForm) }}

    {{ form_errors(userForm) }}

    {{ form_rest(userForm) }}

    {{ form_end(userForm) }}

{% endblock %}
