{% extends 'layout/layoutPage.html.twig' %}

{% block menu %}

    {% set url = path('admin_accueil',{'id' : id}) %}
    <ul>
        <li><a href="{{ url }}"> Retour à l'accueil </a></li>
    </ul>

{% endblock %}

{% block vue %}

    <style>
        table, th, td {
            border: 1px solid;
            text-align: center;
        }
    </style>

    <h2>Table des produits : </h2>

    <table>
        <tr><th>Libellé</th><th>Prix unitaire</th><th>Stock</th><th></th></tr>
        {{ form_start(shoppingForm) }}
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ form_row(shoppingForm.nb_product) }}</td>
            </tr>
        {% endfor %}
        {{ form_errors(shoppingForm) }}
        {{ form_rest(shoppingForm) }}

        {{ form_end(shoppingForm) }}
    </table>
    <button type="submit">Ajouter</button>
{% endblock %}
