{% extends 'layout/layoutPage.html.twig' %}

{% block title %}{{ parent() }} Formulaire de modification du profile {% endblock %}


{% block menu %}

    {% set url = path('accueil') %}
    <ul>
        <li><a href="{{ url }}"> Retour a l'accueil </a></li>
    </ul>

{% endblock %}

{% block vue %}

    <h1>Service inversion de mot : </h1>

    {{ form_start(serviceForm) }}

    {{ form_errors(serviceForm) }}

    {{ form_rest(serviceForm) }}

    {{ form_end(serviceForm) }}

{% endblock %}
