{% extends 'layout/layoutPage.html.twig' %}

{% block menu %}

    {% set url = path('user_accueil',{'id' : id}) %}
    <ul>
        <li><a href="{{ url }}"> Retour à l'accueil </a></li>
    </ul>

{% endblock %}

{% block vue %}

    <style>
        table, th, td {
            border: 1px solid;
            text-align: center;
        }
    </style>

    <h2> Panier : </h2>

    <table>
        <tr><th>Nom du produit </th><th>Quantité</th><th>Prix unitaire</th><th></th></tr>
        {% set totalprice = 0 %}
        {% for shopCart in shopCarts %}
            <tr>
                {% set urlDelete = path('user_delete_item',{'id_current' : id ,'id_shop' : shopCart.id}) %}
                <td>{{ shopCart.idProduct.name }}</td>
                <td>{{ shopCart.nbProduct }}</td>
                <td>{{ shopCart.idProduct.price }}</td>
                <td><a href="{{ urlDelete }}">supprimer</a></td>
            </tr>
            {% set totalprice = totalprice + shopCart.nbProduct * shopCart.idProduct.price  %}
        {% endfor %}
    </table>
    <h3>Prix total de la commande : {{ totalprice }}  </h3>
    <ul>
        {% set urlCommande = path('user_commander',{'id_current' : id }) %}
        <li><a href="{{ urlCommande }}" >Commander</a></li>
        {% set urlVider = path('user_vider',{'id_current' : id }) %}
        <li><a href="{{ urlVider }}">Vider</a></li>
    </ul>


{% endblock %}
